.DashboardWorkBox {
    width: 250px;
    height: 180px;
    /* display: "flex";
    justify-content: center;
    align-items: center; */
    border-radius: 10px;
    overflow: hidden;
}
.backgroundLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Inherits the parent background color */
    filter: blur(10px); /* Blurs the background */
    opacity: 0.5; /* Adjust opacity to control transparency */
    z-index: 0; /* Ensures it's below the text */
  }
@media screen and (max-width:1000px){
.DashboardWorkBox{
    width: auto;
}
}